/* HeroBanner 淺色模式 */
.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #f3f8f5; /* 自定義淺色模式背景顏色 */
  color: var(--ifm-color-text-light);
}

/* HeroBanner 深色模式 */
[data-theme='dark'] .heroBanner {
  background-color: #37474f; /* 自定義深色模式背景顏色 */
  color: var(--ifm-color-text-light);
}

/* HeroBanner 響應式調整 */
@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 中間區塊樣式 */
.homepageSections {
  display: flex;
  justify-content: center; /* 將區塊集中在中間 */
  gap: 1rem;
  padding: 2rem 0;
  max-width: 80%; /* 設定容器最大寬度 */
  margin: 0 auto; /* 自動邊距，讓容器水平居中 */
}

.homepageSection {
  flex: 1;
  padding: 1rem;
  background-color: #D6D7CB;/* 3塊 */
  border-radius: 8px;
  box-shadow: 0px 4px 8px #484944;
  color: var(--ifm-color-text);
  max-width: 400px; /* 限制每個區塊的最大寬度 */
  text-align: center; /* 文字居中對齊 */
}

[data-theme='dark'] .homepageSection {
  background-color: #484944;/* 3塊 */
  color: var(--ifm-color-text-light);
}
